- name: Get running processes
  shell: "ps -ef | grep -v grep | grep -w server.py | awk '{print $2}'"
  register: running_processes

- name: Kill running processes
  shell: "kill {{ item }}"
  with_items: "{{ running_processes.stdout_lines }}"
  ignore_errors: yes

- wait_for:
    path: "/proc/{{ item }}/status"
    state: absent
  with_items: "{{ running_processes.stdout_lines }}"
  ignore_errors: yes
  register: killed_processes

- name: Force kill stuck processes
  shell: "kill -9 {{ item }}"
  with_items: "{{ killed_processes.results | select('failed') | map(attribute='item') | list }}"
- name: copy files to server
  copy:
    src: '{{item}}'
    dest: /home/bot/finanse_bot/
  loop:
    - createdb.sql
    - db.py
    - expenses.py
    - main.py
    - server.py
- name: run app
  shell: "nohup python /home/bot/finanse_bot/server.py > output.log &"